/.vscode
/Log 2020-08-07 20-26-38 Koblizci.txt
/Log 2020-08-07 20-27-39 kvetakokot.txt
/Log 2020-08-07 20-25-11 kokotym.txt
/Log 2020-08-07 20-29-31 smajl.txt
/statistiky.txt
/alchemy_vyhodnoceni.py
/vysledky.txt
/desktop.ini